<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.musk.lockscreen">
    <!-- 锁屏操作权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- screen类 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!-- package类 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REMOVED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <!-- network类 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- GDT start -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- GDT end -->
    <application
        android:name="com.musk.lockscreen.AppContext"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".ScreenActivity" />
        <service android:name=".CoreService" />

        <receiver android:name="com.musk.lockscreen.AliveBroad">

            <!-- boot类 -->
            <intent-filter android:priority="0x7fffffff">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <!-- package类 -->
            <intent-filter android:priority="0x7fffffff">
                <data android:scheme="package" />

                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
            </intent-filter>

            <!-- network类 -->
            <intent-filter android:priority="0x7fffffff">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
            <!-- screen类 -->
            <intent-filter android:priority="0x7fffffff">
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>

        <!-- GDT start -->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false"></service>

        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"></activity>

        <meta-data
            android:name="APP_ID"
            android:value="1104828935_"></meta-data>
        <meta-data
            android:name="POS_ID"
            android:value="8090417872277774_"></meta-data>
        <!-- GDT end -->
    </application>

</manifest>
